<h1>Issues:</h1>

<ul>
    {{#each issues}}
      <li>
          <a href="/issue?id={{id}}">({{count_messages}}) {{id}}</a>
          <p>
              {{#each initial_message.blocks}}
                  <p>
                      {{text}}
                  </p>
              {{/each}}
          </p>
      </li>
    {{/each}}
</ul>
